:root {
  -vkui--color_write_bar_input_background: white !important;
}

.buttonGroup {
  margin: 0 10px,
}

.content {
  max-width: 650px;
}

.title {
  width: 100%;
  margin: 0 15px 0 5px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  width: 100%;
  padding: 0 10px 0 0 !important;
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: white;
}

.activeFieldBackground {
  background-color: white;
}

.selectedTodo {
  transition: opacity 0.5s ease-in-out;
}

