.container {
  padding: 15px 5px;
  min-width: 500px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  min-width: 150px;
}

.formItem {
  padding-bottom: 5px !important;
  padding-top: 0 !important;
}

@media screen and (max-width: 780px) {
  .container {
    min-width: 350px;
  }
}