

.cellContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%
}

.formItem {
  padding: 2px 5px 2px !important;
  margin-left: 0 !important;
}

.descriptionField {
  width: 100%;
  margin-bottom: 10px;
}